/* latin */
@font-face {
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Kumbh Sans Regular'), local('KumbhSans-Regular'), url(https://fonts.gstatic.com/s/kumbhsans/v1/c4ml1n92AsfhuCq6tVsaioBd-Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(https://fonts.gstatic.com/s/shadowsintolight/v10/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
    font-family: 'Kumbh Sans';
}
header {
    text-align: right;
    width: 100%;
    font-size: 25px;
    color: palevioletred;
}
h2 {
    text-align: right;
    font-size: 25px;
    font-family: 'Shadows Into Light';
}
.main img{
    width: 40%;
    height:auto;
    border: 2px solid lightgray;
    opacity: 0.9;
}
.main {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}
.main-content {
    padding: 16px;
    text-align: justify;
    color: dimgrey;
}
.gallery {
    display: inline-flex;
    flex-flow: row-reverse;
    margin-top: 20px;
    background-color: floralwhite;
}
.gallery img {
    width: 60%;
    height: auto;
    padding: 30px;
    background-color: beige;
}
.link {
    text-decoration: none;
    font-family: 'Shadows Into Light';
    text-align: right;
    font-size: 20px;
    letter-spacing: 4px;
    word-spacing: 10px;
    color: purple;
}
footer {
    opacity: 0.5;
    color: darkgreen;
    letter-spacing: 2px;
}